process {
    withName: FILTER_LONG_READS {
        publishDir = [path: "${params.outdir}/filtered_reads", mode: 'copy']
        ext.args = '--length_limit 10000'
    }
    withName: TOULLIGQC {
        publishDir = [path: "${params.outdir}/toulligqc", mode: 'copy']
    }

    withName: ISOQUANT {
        publishDir = [path: "${params.outdir}/isoquant", mode: 'copy']
    }

    withName: GFFREAD_GTF {
        publishDir = [path: "${params.outdir}/gffread", mode: 'copy']
        ext.args = '-T -v --gene2exon'
        ext.prefix   = 'tx'
    }

    withName: GFFREAD_FASTA {
        publishDir = [path: "${params.outdir}/gffread", mode: 'copy']
        ext.args = '-w'
        ext.prefix   = 'tx.seq'
    }

    withName: COMBINE_FASTA_ANNOTATION {
        publishDir = [path: "${params.outdir}/combine_fasta_annotation", mode: 'copy']
    }

    withName: MINIMAP2_ALIGN {
        publishDir = [path: "${params.outdir}/minimap2/tx", mode: 'copy']
    }

    withName: MINIMAP2_ALIGN_GENOME {
        publishDir = [path: "${params.outdir}/minimap2/genome", mode: 'copy']
    }
    
    withName: SALMON_QUANT {
        publishDir = [path: "${params.outdir}/salmon", mode: 'copy']
    }
}
