process {
    withName: TOULLIGQC {
        publishDir = [path: "${params.outdir}/toulligqc", mode: 'copy']
    }

    withName: ISOQUANT {
        publishDir = [path: "${params.outdir}/isoquant", mode: 'copy']
    }

    withName: GFFREAD {
        publishDir = [path: "${params.outdir}/gffread", mode: 'copy']
        ext.args = '-w'
    }

    withName: MINIMAP2_ALIGN {
        publishDir = [path: "${params.outdir}/minimap2", mode: 'copy']
    }

    withName: SALMON_QUANT {
        publishDir = [path: "${params.outdir}/salmon", mode: 'copy']
    }
}
