params {
    fastq_files = 'https://github.com/nf-core/test-datasets/raw/refs/heads/nanoseq/modification_fast5_fastq/HEK293T-METTL3-KO-rep1/fastq/HEK293T-METTL3-KO-rep1.fastq.gz'
    genome_fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/nanoseq/reference/modification_transcriptome_subset.fa'
    gene_annotation = 'https://raw.githubusercontent.com/nf-core/test-datasets/nanoseq/reference/modification_transcriptome_subset.gtf'
    outdir = './results'
}
