process {
    withName: FILTER_LONG_READS {
        publishDir = [path: "${params.outdir}/filtered_reads", mode: 'copy']
        ext.args = '--length_limit 10000'
    }
    withName: TOULLIGQC {
        publishDir = [path: "${params.outdir}/toulligqc", mode: 'copy']
    }

    withName: ISOQUANT {
        publishDir = [path: "${params.outdir}/isoquant", mode: 'copy']
    }

    withName: GFFREAD_GTF {
        publishDir = [path: "${params.outdir}/gffread", mode: 'copy']
        ext.args = '-T -v --gene2exon'
        ext.prefix   = 'tx'
    }

    withName: GFFREAD_FASTA {
        publishDir = [path: "${params.outdir}/gffread", mode: 'copy']
        ext.args = '-w'
        ext.prefix   = 'tx.seq'
    }
    withName: COMBINE_FASTA_ANNOTATION {
        publishDir = [path: "${params.outdir}/combine_fasta_annotation", mode: 'copy']
    }
    withName: SAMTOOLS_FAIDX {
        publishDir = [path: "${params.outdir}/combine_fasta_annotation", mode: 'copy']
    }
    withName: GTF_TO_REGION_BED {
        publishDir = [path: "${params.outdir}/combine_fasta_annotation", mode: 'copy']
    }
    withName: MINIMAP2_ALIGN {
        publishDir = [path: "${params.outdir}/minimap2/tx", mode: 'copy']
        ext.args = '-ax map-ont'
    }
    withName: MINIMAP2_ALIGN_GENOME {
        publishDir = [path: "${params.outdir}/minimap2/genome", mode: 'copy']
        ext.args = '-ax map-ont'
        /// ext.args = '-ax splice -uf -k14'
    }
    withName: SAMTOOLS_INDEX {
        publishDir = [path: "${params.outdir}/minimap2/genome", mode: 'copy']
    }
    withName: SAMTOOLS_IDXSTATS {
        publishDir = [path: "${params.outdir}/minimap2/genome", mode: 'copy']
    }
    withName: SAMTOOLS_INDEX_TX {
        publishDir = [path: "${params.outdir}/minimap2/tx", mode: 'copy']
    }
    withName: SAMTOOLS_IDXSTATS_TX {
        publishDir = [path: "${params.outdir}/minimap2/tx", mode: 'copy']
    }
    withName: SAMTOOLS_VIEW_TX {
        // publishDir = [path: "${params.outdir}/minimap2/genome/qc", mode: 'copy']
        ext.args = '-b -F 0x4 -F 0x100 -F 0x800 -q 50' // Filter out unmapped reads, keep only primary alignments, MAPQ >= 50
        ext.prefix = 'mapped'
    }
    withName: SAMTOOLS_VIEW {
        // publishDir = [path: "${params.outdir}/minimap2/genome/qc", mode: 'copy']
        ext.args = '-b -F 0x4 -F 0x100 -q 50' // Filter out unmapped reads, keep only primary alignments, MAPQ >= 50
        ext.prefix = 'mapped'
    }
    withName: SAMTOOLS_VIEW_REGION {
        publishDir = [path: "${params.outdir}/minimap2/genome/region", mode: 'copy']
        ext.args = '-h -b -F 0x4' 
        ext.args2 = "${params.region}"
    }
    withName: TOULLIGQC_GENOME {
        publishDir = [path: "${params.outdir}/minimap2/genome/qc", mode: 'copy']
    }
    withName: SALMON_QUANT {
        publishDir = [path: "${params.outdir}/salmon", mode: 'copy']
        //ext.args = '--minAssignedFrags 1 --noErrorModel --noLengthCorrection --maxOccsPerHit 1000'
        ext.args = '--minAssignedFrags 1 --noLengthCorrection --maxOccsPerHit 1000 --minScoreFraction 0.3 --writeMappings --writeUnmappedNames'
    }
    withName: SALMON_QUANT_TX {
        publishDir = [path: "${params.outdir}/salmon_tx", mode: 'copy']
        ext.args = '--minAssignedFrags 1 --noErrorModel --noLengthCorrection --maxOccsPerHit 1000'
    }
    withName: STRINGTIE_STRINGTIE {
        publishDir = [path: "${params.outdir}/stringtie", mode: 'copy']
        //ext.args = '-x -N -L -e -f 0.05 -c 1'
        ext.args = '-x -N -L -f 0.01 -c 1'
    }
    withName: STRINGTIE_MERGE {
        publishDir = [path: "${params.outdir}/stringtie", mode: 'copy']
        ext.args = '-F 0.01 -c 1 -f 0.01'
    }
    withName: REPLACE_GENEID_WITH_REF {
        publishDir = [path: "${params.outdir}/stringtie", mode: 'copy']
    }
    withName: STRINGTIE_QUANT {
        publishDir = [path: "${params.outdir}/stringtie_new", mode: 'copy']
        //ext.args = '-x -N -L -e -f 0.05 -c 1'
        ext.args = '-x -N -L -e -f 0.01 -c 1'
    }
    // withName: RSEM_GBAM2TBAM {
    //     publishDir = [path: "${params.outdir}/rsem", mode: 'copy']
    // }
    withName: IGVREPORTS {
        publishDir = [path: "${params.outdir}/igvreports", mode: 'copy']
    }
}
