params {
    fastq_files = "${projectDir}/data/nanopore_reads.fastq.gz"
    genome_fasta = "${projectDir}/data/genome.fasta"
    gene_annotation = "${projectDir}/data/genome.gff"
    plasmid_fasta = "${projectDir}/data/plasmid.fasta"
    plasmid_annotation = "${projectDir}/data/plasmid.gff"
    region = "plasmid"
    outdir = './results'
}

process {

    resourceLimits = [
        cpus: 2,
        memory: 6.GB,
        time: 2.h
    ]
}
