params {
    // fastq_files = "${projectDir}/data/nanopore_reads.fastq.gz"
    // genome_fasta = "${projectDir}/data/genome.fasta"
    // gene_annotation = "${projectDir}/data/genome.gff"
    // plasmid_fasta = null
    // plasmid_annotation = null
    input = "${projectDir}/data/samplesheet_genome.csv"

    outdir = './results'
}

process {

    resourceLimits = [
        cpus: 2,
        memory: 8.GB,
        time: 2.h
    ]
}
